POSTGRES_DB=cowrie
POSTGRES_USER=cowrie
POSTGRES_PASSWORD=change-me-db
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-now
POSTGRES_EXPORTER_PORT=9187
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
SSH_PUBLIC_PORT=2222
COWRIE_LISTEN_PORT=2222
CADVISOR_PORT=8080
