FROM python:3.12-slim

RUN apt-get update && apt-get install -y --no-install-recommends \
    build-essential \
    git \
    libffi-dev \
    libssl-dev \
    python3-dev \
 && rm -rf /var/lib/apt/lists/*

WORKDIR /opt
RUN git clone https://github.com/cowrie/cowrie.git /opt/cowrie

WORKDIR /opt/cowrie
RUN python3 -m venv cowrie-env \
 && ./cowrie-env/bin/pip install --upgrade pip \
 && ./cowrie-env/bin/pip install -r requirements.txt \
 && ./cowrie-env/bin/python3 ./bin/regen-dropin.cache

RUN useradd -m -d /opt/cowrie -s /bin/bash cowrie \
 && chown -R cowrie:cowrie /opt/cowrie

USER cowrie
ENV PATH=/opt/cowrie/cowrie-env/bin:${PATH}
ENV PYTHONPATH=/opt/cowrie/src
ENV PYTHONUNBUFFERED=1
EXPOSE {{ cowrie_listen_port }}
CMD ["./cowrie-env/bin/twistd", "-n", "--umask=0022", "--pidfile=", "cowrie"]
