apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

  - name: PostgreSQL
    type: postgres
    uid: postgresql
    access: proxy
    url: postgres:5432
    user: {{ postgresql_cowrie_user }}
    secureJsonData:
      password: {{ postgresql_cowrie_password }}
    jsonData:
      database: {{ postgresql_cowrie_db }}
      sslmode: disable
      maxOpenConns: 10
      connMaxLifetime: 14400
      maxIdleConns: 10
      postgresVersion: 1600
      timescaledb: false
    editable: false
