POSTGRES_DB={{ postgresql_cowrie_db }}
POSTGRES_USER={{ postgresql_cowrie_user }}
POSTGRES_PASSWORD={{ postgresql_cowrie_password }}
GRAFANA_ADMIN_USER={{ grafana_admin_user }}
GRAFANA_ADMIN_PASSWORD={{ grafana_admin_password }}
POSTGRES_EXPORTER_PORT={{ postgres_exporter_port }}
PROMETHEUS_PORT={{ prometheus_port }}
GRAFANA_PORT={{ grafana_port }}
SSH_PUBLIC_PORT={{ ssh_public_port }}
COWRIE_LISTEN_PORT={{ cowrie_listen_port }}
CADVISOR_PORT={{ cadvisor_port }}
